html {
  background-color: black;
  color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
}

.header {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
  padding-top: 2%;
}
.header h1{
  position: relative;
}
.header img{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.links {
  position: relative;
  display: flex;
  justify-content: space-around;
  padding-right: 15%;
  padding-left: 15%;
  padding-bottom: 0;
}

.links div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2em;
  padding: 1em;
  padding-bottom: 1em;
  border-radius: 0.5em;
  
}
.links a {
  text-decoration: none;
  color: white;
}

.links p {
  text-decoration: none;
  font-size: 1.2em;
  color: white;
  flex-grow: 0;
  padding: 0.3em;
  padding-bottom: 0;
}