* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --font-color-darktheme: rgb(235, 235, 235);
  --font-color-lighttheme: black;
  --main-dark-color: #333;
  --main-dark-color-light: #555;
  --main-light-color-transparent: rgba(180, 180, 180, 0.884);
  --main-color-blue-1: rgb(40, 40, 117);

color: var(--font-color-darktheme);
background-color: var(--main-dark-color);
}
.fullpage{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 2fr 6fr 50px;
}
.header {
  background-color: var(--main-dark-color-light);
  display: grid;
  grid-auto-flow: column;
  grid-area: 1/1/2/3;
  align-content: center;
  padding-right: 1rem;
  padding-left: 1rem;
}
.sidebar {
  display: none;
  grid-area: 1/1/3/2;
  background-color: var(--main-light-color-transparent);
  z-index: 15;
}
.menu{
  width: 2.7rem;
  margin-left: 1rem;
}
.menu img{
  height: 5rem;
}
.clock, .weather, .profile {
  justify-self: end;
  padding-top: 1.6rem;
}
.front-content {
  grid-area: 2/1/3/3;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr;
  padding-top: 2rem;
  padding-bottom: 2rem;

}
.news, .notes {
  grid-area: 1/1/2/2;
  width: 80%;
  background-color: var(--main-light-color-transparent);
  margin-left: 10%;
  margin-right: 10%;
}
.notes {
  grid-area: 1/2/2/3;
}
.footer {
  grid-area: 3/1/4/3;
  background-color: black;
}